.Form-Field {
    border: none;
    background-color: rgba(255, 255, 255, 0.863);
    color: #000000;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

.Form {
    width: 100%;
}

.Form-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
}

.Form-Error {
    color: #ff8080;
}

.Login-Error{
    margin-top: 300px;
    color: #ff8080;
}

.Form-Btn {
    background: #00cc99;
    color: #fdfdfd;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}

.Form-Btn:hover {
    cursor: pointer;
}