body {
  font-family: Arial, Helvetica, sans-serif;
  background: #8b8b8b8a;
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: rgb(185, 185, 185);
}